service cloud.firestore {
  match /databases/{database}/documents {
    match /nekosync-test-a/{id} {
      allow read, write;
    }
    match /nekosync-test-b/{id} {
      allow read, write;
      match /nekosync-test-a/{id} {
        allow read, write;
      }
    }
    match /nekosync-test-c/{id} {
      allow read;
      allow write: if get(/databases/$(database)/documents/nekosync-test-d/$(id)).data.writable == true;
    }
    match /nekosync-test-d/{id} {
      allow read, write;
    }
  }
}