service cloud.firestore {
  match /databases/{database}/documents {
    match /nekord-test-a/{id} {
      allow read, write;
    }
    match /nekord-test-b/{id} {
      allow read, write;
      match /nekord-test-a/{id} {
        allow read, write;
      }
    }
  }
}